body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #5410c2;
    color: white;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
}

button {
    padding: 10px 20px;
    background-color: #5410c2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5410c2;
}

.hidden {
    display: none;
}

footer {
    background-color: #5410c2;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    width: 100%;
    bottom: 0;
}

form input, form textarea, form select {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 500px;
}

form label {
    font-weight: bold;
}
